:root {
    --game-cardminmax: calc(100%);
}

@media (min-width: 440px) {
    :root {
        --game-card-width: 440px;
    }
}

.game-section {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;

    span:first-child {
        font-size: xx-large;
    }
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 600px));
    gap: 50px;
    justify-content: center;
}

.game-card {
    aspect-ratio: 4/3;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

@media (hover: hover) {
    .game-card:hover {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    }
}

.game-card__img-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    aspect-ratio: 3/2;
    overflow: hidden;
}

.game-card__img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-card__text-container {
    padding: 10px;
    color: var(--main-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-card__title {
    font-size: large;
}

.game-card__description {
}
