:root {
  --section-display-direction: column;
  --section-justify: none;
  --section-align: center;
  --section-x-margin: 100px;
  --section-y-margin: 100px;
  --section-title-container-width: 100%;
  --gap-between-title-board: 50px;
  --section-title-font-size: 24px;
  --section-title-font-weight: 500;
}

@media (min-width: 576px) {
  :root {
    --section-title-font-size: 34px;
  }
}

@media (min-width: 768px) {
  :root {
    --section-title-font-size: 40px;
  }
}

@media (min-width: 992px) {
  :root {
    --section-title-font-size: 44px;
    --section-title-font-weight: 600;
    --section-title-container-width: max-content;
    --section-display-direction: row;
    --section-justify: center;
    --section-align: center;
    --section-y-margin: 200px;
    --title-padding-right: 70px;
  }
}

.teacher-section {
  width: 100%;
  display: flex;
  flex-direction: var(--section-display-direction);
  justify-content: var(--section-justify);
  align-items: var(--section-align);
  margin: var(--section-y-margin) 0;
}

.teacher-section__title-container {
  width: var(--section-title-container-width);
  padding-bottom: var(--gap-between-title-board);
  display: flex;
  justify-content: end;
}

.teacher-section__title {
  text-align: center;
  margin: 0 auto;
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
  text-transform: uppercase;
  padding-right: var(--title-padding-right);
}
