:root {
  --modal-content-width: 768px;
  --modal-content-height: 900px;
  --modal-content-padding: 30px;
  --modal-content-border-radius: 20px;
  --modal-image-height: 500px;
  --modal-text-gap: 5px;
}

.modal.visually-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transform: translateY(20px);
}

.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.2);
}

.modal-position-modifier {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  position: relative;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  background-color: white;
  border-radius: var(--modal-content-border-radius);
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  position: absolute;
  top: var(--modal-content-padding);
  right: var(--modal-content-padding);
  z-index: 1;
}

.modal-body {
  padding: var(--modal-content-padding);
  display: flex;
  flex-direction: column;
}

.modal-image-container {
  border-top-left-radius: var(--modal-content-border-radius);
  border-top-right-radius: var(--modal-content-border-radius);
  overflow: hidden;
  width: var(--modal-content-width);
  height: calc(var(--modal-content-height) * 0.65);
}

.modla-image-position-modifier {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.modal-text-container {
  padding: var(--modal-content-padding);
}

.modal-text-wrap {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: var(--modal-content-padding);
}
