.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 1rem;
  background-color: white;
  padding: 1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #151837;
  z-index: 5;
}