:root {
  --intro-section-y-padding: 50px;
  --intro-section-width: 100px;
  --intro-section-image-width: 100%;
}

.intro-section-container {
  width: 100%;
  background-color: white;
  padding: var(--intro-section-y-padding) 0;
}

.intro-section {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro-section__image-container {
  position: relative;
  width: var(--intro-section-image-width);
  max-width: 320px;
  min-height: 600px;
  background-color: black;
  overflow: hidden;
}

.intro-section__image {
  position: absolute;
}

.intro-section__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.intro-section__title {
  font-size: 43px;
  font-weight: 900;
}

.intro-section span {
  font-size: x-large;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#151837, #151837);

  background-repeat: no-repeat;
  background-clip: text;
  background-size: 0% 100%;

  animation: intro-section linear forwards;
  animation-timeline: view();
  animation-range-start: cover 30vh;
  animation-range-end: cover 40vh;
}

@keyframes intro-section {
  to {
    background-size: 100% 100%;
  }
}
